#Qresult {
    position: relative;
    top:100px;
    left: 60px;
}
#Viewscores, #player_named {
     width: 100%;
     margin-right:200px;
   }

   #logo2 {
    position:relative;
    top: 70px;
    left: 25%;
    
}