* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: yellow;
    --secondary: red;
    --dark: black;
    --light: white;
       background-image: url("../img/background.png");
}

body {
    /* background-image: url("../img/background.png"); */
    background-color: #DCE1E3;
    font-family: Montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
}
/* Modal */
.modal {
    display:inline-block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.result-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.5); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid blue; /*#888*/
    border-radius: 10px;
    width: 50%;
    height: 50%;
    text-align: center;
}

.resutl-modal-content  { 
    text-align: center;
    background-color: #ffff;
    margin: 20% auto;
    padding: 40px; 
    width: 60%;
    box-shadow: 0 5px 8px rgb(0,0,0,0.2);
}

.visible {
    display: block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }

.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#player-name-container, #category-container, #difficulty-container, #amount-of-questions-container {
    margin-top: 25px;
    margin-left: 10px;
}

#greeting {
    margin-top: 30px;
}

label {
    font-weight: bold;
    font-size: 1.5rem;
}

select {
    height: 2rem;
    font-size: 1.5rem;
}

#trivia_amount{
    font-size: 1.5rem;
    height: 1.5rem;
}

#player_name, option  {
font-size: 1.5rem;
height: 10%;
}

#start-btn {
 margin: 12% 0 0 65%;
}

/*End Modal*/

main {
    padding-top: 10vh;
    padding-left: 25vw;
}

.card_container {
    /* margin: 10vh auto 0; */
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

.inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position:relative;
}

.inner.is-flipped__Y {
    transform: rotateY(180deg);
}

.inner.is-flipped__X {
    transform: rotateX(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card_face-front {
    background-image: linear-gradient(to bottom right, var(--primary),var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-face h2 {
    color: white;
    font-size:32px;
}

.card-face {
    color: white;
    font-size:32px;
}

.card_face-back__Y {
    background-color: var(--light);
    transform: rotateY(180deg);
}
 .card_face-back__X {
    background-color: var(--light);
    transform: rotateX(180deg);
} 

.card-content {
  
    width: 100%;
    height: 100%;
}

.card-header {
    position: relative;
    padding: 30px 30px 40px;
}

.card-header:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%,
     var(--secondary) 115%);
}

.img {
    display:block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid white;
    object-fit: cover;
}

.card-header h2 {
    color:white;
    font-size: 32;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card-body {
    padding: 30px
}

.card-body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.5;
}

Form {
    transform-style: preserve-3d;
    margin-left: 30px;
    z-index: -1;
    margin-top: 23vh;
}

button {
    color:white;
    font-weight: 600;
    margin: 10px 0;
    width: 100%;
    max-width: 20em;
    min-width: 20em;
    padding: 1rem 0;
    border: none;
    border-radius: 15px;
    /* background-image: linear-gradient(to left, blue,purple); */
    background-color: #004E7C;
}

.hide {
    display: none;
}

button:hover {
    /* background-image: linear-gradient(to right, blue,purple); */
    background-color: #4DA8DA;
}

.gif {
    margin-top:  15px;
    width: 100%;
}


@media screen and (max-width: 980) {
    start-btn { 
        align-items:  left;
    }
    .modal-content {
     width: 100%;
    }
    }

/* Media queries  */
@media screen and (min-width: 1025px) {
   label {
    font-weight: bold;
    font-size: 1rem;
}
   #start-btn   {
    margin:0;
    margin-top: 37px;

   }
  
   #answer-buttons {
      padding-left: 120px;
   }
 
  #player_name {
        width: 50%;
       margin: 4px;
       
    }
    #player_name, option  {
      font-size: 1.1rem;
      height: 7%;
}
  select {
     height: 1.5rem;
     font-size: 1rem;
     width:50%;
}

   #trivia_category {
       width: 70%;
       text-align: center;
       
   }
    

    #question-container {
       position: relative;
       left: 56px;
               
   
}
 #trivia_amount{
    font-size: 1rem;
    height: 1.2rem;
}

}

/*tab */
@media screen and (max-width: 1024px) {
   label {
    font-weight: bold;
    font-size: 1rem;
}
   #start-btn   {
    margin:0;
    margin-top: 37px;

   }
  
   #answer-buttons {
      padding-left: 120px;
   }
 
  #player_name {
        width: 50%;
       margin: 4px;
       
    }
    #player_name, option  {
      font-size: 1.1rem;
      height: 7%;
}
  select {
     height: 1.5rem;
     font-size: 1rem;
     width:50%;
}

   #trivia_category {
       width: 70%;
       text-align: center;
       
   }
    

    #question-container {
       position: relative;
       left: 56px;
               
   
}
 #trivia_amount{
    font-size: 1rem;
    height: 1.2rem;
}

}

/* iphone */
   @media screen and (max-width: 414px) {
   label {
    font-weight: bold;
    font-size: .7rem;
}
  #category-container {
      margin-top: 10px;
      
  }
#greeting {
    margin-top:10px;
    font-size: 19px;
}

   button {
     width: auto;
   }
   #start-btn   {
    margin:0;
    margin-top: 25px;
    min-width: 10rem;
    
   }
  
   #answer-buttons {
      padding-left: 40px;
   }
 
  #player_name {
        width: 70%;
       margin: 4px;
       
    }
    #player_name, option  {
      font-size: 1.1rem;
      height: 7%;
}
  select {
     height: 1.5rem;
     font-size: 1rem;
     width:70%;
}

   #trivia_category {
       width: 70%;
       text-align: center;
       
   }
    

    #question-container {
       position: relative;
       left: 56px;
               
   
}
 #trivia_amount{
    font-size: 1rem;
    height: 1.2rem;
}
.card_container {
    
    width: 200px;
    height: 400px;
    
} 

    
.card-face h2 {
    color: white;
    font-size:32px;
}

.card-face {
    color: white;
    font-size:25px;

}
main {
    padding-top: 10vh;
    padding-left:10vw;
}
   }



@media screen and (max-width: 680px) {
.modal-content {
 width: 100%;
}
}